<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            DEFAULT TITLE
        {% endblock %}
    </title>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        img, button, textarea, h2, h1, p{
            display: block;
            margin: 20px;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'events' %}">Events</a>
            <a href="{% url 'participants' %}">Participants</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>

